.portfolio {
  background-color: $color-white;

  .container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

    @include mobile {
      min-width: pxToRem(576);
    }

    @include tablet {
      min-width: pxToRem(768);
    }

    @include desktop-extra {
      min-width: pxToRem(992);
    }

    @include desktop-extra {
      min-width: pxToRem(1280);
    }

    /********* title portfolio *********/
    &__title {
      font-weight: bold;
      font-size: pxToRem(40);
      padding-left: 3%;
      padding-top: 4%;
      margin-bottom: pxToRem(26);

      &::before {
        content: url("../../../img/triangle.svg");
        margin: pxToRem(6);
      }
    }

    /********* project block *********/
    &__item {
      display: flex;
      min-height: pxToRem(532);
      margin-bottom: pxToRem(65);
      border-radius: $borderRadius;
      flex-direction: column;
      padding-right: pxToRem(34);

      @include desktop-extra {
        flex-direction: row;
        max-width: 80rem;
      }

      &:hover {
        background-color: $color-pallidYellow;
      }

      &__elems {
        position: relative;
        padding-top: pxToRem(35);
        padding-left: pxToRem(35);

        &__elem {
          background-color: $color-yellow;
          width: pxToRem(532);
          height: pxToRem(340);
          border-radius: $borderRadius;
          box-shadow: $boxShadow;
        }

        &__sub-elem__left {
          visibility: hidden;
          background-color: $color-middleYellow;
          width: pxToRem(237);
          height: pxToRem(408);
          border-radius: $borderRadius;
          box-shadow: $boxShadow;
          top: pxToRem(90);
          left: pxToRem(72);
          position: absolute;
          z-index: 1;

          @include desktop-extra {
            visibility: visible;
          }
        }

        &__sub-elem__right {
          visibility: hidden;
          background-color: $color-brightYellow;
          width: pxToRem(206);
          height: pxToRem(206);
          border-radius: $borderRadius;
          box-shadow: $boxShadow;
          top: pxToRem(248);
          left: pxToRem(385);
          position: absolute;
          z-index: 1;

          @include desktop-extra {
            visibility: visible;
          }
        }
      }

      &__info {
        padding-top: pxToRem(20);
        padding-left: pxToRem(24);

        @include desktop-extra {
          padding-top: pxToRem(97);
          padding-left: pxToRem(78);
        }

        &__title {
          font-size: $font-size-header;
          font-weight: bold;

          @include desktop-extra {
            font-weight: normal;
          }
        }

        &__description {
          visibility: hidden;
          font-size: $font-size-textblock;
          font-weight: 200;

          @include desktop-extra {
            visibility: visible;
            padding-top: pxToRem(50);
          }
        }
      }
    }
  }
}
