.services {
  background-color: $color-almostwhite;

  .container {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    .services__item {
      border-radius: $borderRadius;
      background-color: $color-white;
      box-shadow: $boxShadow;
      margin: 3%;
      display: inline-block;
      padding: pxToRem(25);

      &__title {
        font-size: pxToRem(26);
        margin: 0;
        word-wrap: break-word;
      }

      &__text {
        font-size: pxToRem(20);
      }

      &__link {
        font-size: pxToRem(20);
        color: $color-deepyellow;
        font-weight: bold;
        border-radius: $borderRadius;
        padding: pxToRem(9);
        margin-left: pxToRem(-9);

        &:hover {
          background-color: $color-paleyellow;
        }

        &::after {
          content: url("../img/arrow.svg");
          margin-left: pxToRem(6);
        }
      }
    }
  }

  @include desktop {
    .container {
      flex-direction: row;
    }
  }
}
