// Fonts
/*fonts for all pages in project*/
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf) format("truetype"), /*стандартный*/
    url(../fonts/Montserrat/Montserrat-Light.ttf) format("truetype"), /*тонкое начертание*/
    url(../fonts/Montserrat/Montserrat-ExtraLight.ttf) format("truetype"), /*очень тонкое начертание*/
    url(../fonts/Montserrat/Montserrat-Bold.ttf) format("truetype"); /*жирное начертание*/
    font-weight: 400;
    font-style: normal;
}

/*текст не меньше 14pt*/

