.page-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: $desktop-extra;
  margin-left: auto;
  margin-right: auto;
  padding-left: pxToRem(20);
  padding-right: pxToRem(20);

  @include desktop {
    padding-left: pxToRem(40);
    padding-right: pxToRem(40);
  }
}

@media print {
  a {
    text-decoration: underline;
  }
  [href]:not([href^="#"]):after {
    content: " (" attr(href) ") ";
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

// ---

.align-left {
  float: left;
  margin: 0 pxToRem(10) pxToRem(5) 0;
}

.align-right {
  float: right;
  margin: 0 0 pxToRem(5) pxToRem(10);
}

.align-center {
  display: block;
  margin: 0 auto pxToRem(5);
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

.video-wrapper {
  position: relative;
  height: 0;
  padding-top: pxToRem(25);
  padding-bottom: 56.25%; /* 16:9 */

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(pxToRem(1), pxToRem(1), pxToRem(1), pxToRem(1));
  width: pxToRem(1);
  height: pxToRem(1);
  white-space: nowrap;
}
