// path
$path-fonts: "../fonts/montserrat/montserrat-";
$path-img: "../img/";

// Colors
$color-white: #fff;
$color-black: #222;
$color-yellow: #F5CC3D;

// Media queries
$desktop-extra: pxToRem(1280);
$desktop: pxToRem(992);
$tablet: pxToRem(768);
$mobile: pxToRem(576);

// ..
$borderRadius: pxToRem(20);
