// path
$path-fonts: "../fonts/montserrat/montserrat-";
$path-img: "../img/";

// Colors
$color-white: #fff;
$color-almostwhite: #f8f8fb;
$color-black: #222;
$color-yellow: #f5cc3d;
$color-deepyellow: #e1af00;
$color-paleyellow: #fff5d0;
$color-lightpaleyellow: #fefaec;
$color-brightyellow: #ffc600;
$color-middleyellow: #ffe794;

// Media queries
$desktop-extra: pxToRem(1280);
$desktop: pxToRem(992);
$tablet: pxToRem(768);
$mobile: pxToRem(576);

// ..
$borderRadius: pxToRem(20);
$boxShadow: 0 pxToRem(5) pxToRem(30) rgba(0, 0, 0, 0.1);
