.btn {
  border-radius: pxToRem(30);
  font-weight: pxToRem(500) !important;
}

.btn-yellow {
  background-color: $color-yellow !important;
  color: $color-black !important;

  &:hover {
    background-color: darken($color-yellow, 10%) !important;
    color: $color-black !important;
  }
}
