.navbar {
  display: flex;
  align-items: center;

  .nav {
    &-list {
      display: flex;

      &.languages .dropdown-menu {
        transform: translateX(pxToRem(-38));

        @include desktop {
          transform: translateX(pxToRem(-16));
        }

        @include desktop-extra {
          transform: none;
        }
      }
    }

    &-link {
      font-size: pxToRem(16);
      line-height: pxToRem(20);
      color: $color-white;
      padding: pxToRem(12) pxToRem(16);
      cursor: pointer;
      display: block;
      font-weight: 400;

      &:hover {
        color: $color-yellow;
      }

      &.btn {
        margin-left: pxToRem(16);
        margin-right: pxToRem(16);
      }
    }

    &-menu {
      display: none;

      @include tablet {
        display: flex;
      }
    }

    &-toggle {
      display: block;
      width: pxToRem(28);
      height: pxToRem(24);
      margin-left: pxToRem(6);

      @include tablet {
        display: none;
      }

      span {
        display: block;
        width: pxToRem(28);
        height: pxToRem(2);
        background-color: $color-yellow;
        margin-bottom: pxToRem(9);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
