.nav {
  display: flex;
  align-items: center;

  &-list {
    display: flex;

    &.languages .dropdown-menu {
      transform: translateX(pxToRem(-38));

      @include desktop {
        transform: translateX(pxToRem(-16));
      }

      @include desktop-extra {
        transform: none;
      }
    }
  }

  &-link {
    @include desktop {
      font-size: pxToRem(16);
      font-weight: 400;
      line-height: pxToRem(20);
      color: $color-white;
      padding: pxToRem(12) pxToRem(16);
      cursor: pointer;
      display: block;
    }

    &:hover {
      @include desktop {
        color: $color-yellow;
      }
    }

    &.btn {
      margin-left: pxToRem(16);
      margin-right: pxToRem(16);
    }
  }

  &-menu {
    display: none;

    @include tablet {
      display: flex;
    }
  }
}
