<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Homepage</title>
        <link rel="stylesheet" href="../../scss/styles.scss">
    </head>

    <body>
        <!--technologies-->
        <div class="technologies">
                <div id="webdev" class="technology">
                    <div class="top"></div>
                    <div class="description">
                        <span>Web development</span>
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                        Velit officia consequat duis enim velit mollit.</p>
                        <button type="button" class="buttonall">Show more <img id="arrow" src="../pictures/Arrow.svg"></button>
                    </div>
                </div>

                <div id="design" class="technology">
                    <div class="top"></div>
                    <div class="description">
                        <span>UI/UX design</span>
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                        Velit officia consequat duis enim velit mollit.</p>
                        <button type="button" class="buttonall">Show more <img id="arrow" src="../pictures/Arrow.svg"></button>
                    </div>
                </div>

                <div id="projman" class="technology">
                    <div class="top"></div>
                    <div class="description">
                        <span>Project management</span>
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolorв do amet sint. 
                        Velit officia consequat duis enim velit mollit.</p>
                        <button type="button" class="buttonall">Show more <img id="arrow" src="../pictures/Arrow.svg"></button>
                    </div>
                </div>
        </div>

        <!--projects-->
        <div class="projects">
            <div class="bestprojs"><p><span><img src="../pictures/triangle.svg">Best projects</span></p></div>

            <div id="firstproject" class="project">
                <div class="projectpics">
                    <div class="projpic" id="firstpic"></div>
                    <div class="projpic" id="secondpic"></div>
                    <div class="projpic" id="thirdpic"></div>
                </div>

                <div class="projdescript">
                    <p>
                        <span class="projname">Name project</span>
                        <p class="projdescr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </p>
                </div>
            </div>

            <div id="secondproject" class="project">
                <div class="projectpics">
                    <div class="projpic" id="firstpic"></div>
                    <div class="projpic" id="secondpic"></div>
                    <div class="projpic" id="thirdpic"></div>
                </div>

                <div class="projdescript">
                    <p>
                        <span class="projname">Name project</span>
                        <p class="projdescr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </p>
                </div>
            </div>

            <div id="thirdproject" class="project">
                <div class="projectpics">
                    <div class="projpic" id="firstpic"></div>
                    <div class="projpic" id="secondpic"></div>
                    <div class="projpic" id="thirdpic"></div>
                </div>

                <div class="projdescript">
                    <p>
                        <span class="projname">Name project</span>
                        <p class="projdescr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </p>
                </div>
            </div>

            <div class="allprojs">
                <button name="projects" type="button" class="buttonall">All projects <img id="arrow" src="../pictures/Arrow.svg"></button>
            </div>
        </div>

        <!--we need you-->
        <div class="prefooter">
            <div class="jointeam">
                <h2>Become part of our team</h2>
                <p>We need you!</p>
                <button name="join" type="button" class="joinbutton">Join</button>
            </div>
            <div class="prewhite"></div>
            <div class="preblack"></div>
        </div>
    </body>
</html>
