<link rel="stylesheet" href="css/main.min.css" />
<% var data = { title: "CODE DOT - ..." }; %> <%=
_.template(require('./../includes/header.html').default)(data) %> <%=
_.template(require('./../includes/hero.html').default)(data) %> <%=
_.template(require('./../includes/services.html').default)(data) %> <%=
_.template(require('./../includes/portfolio.html').default)(data) %>

<!--
<div class="portfolio">
  <div class="bestprojs"><p><span><img src="../pictures/triangle.svg">Best projects</span></p></div>

  <div class="project" id="firstproject">
    <div class="projectpics">
      <div class="projpic" id="firstpic"></div>
      <div class="projpic" id="secondpic"></div>
      <div class="projpic" id="thirdpic"></div>
    </div>

    <div class="projdescript">
      <p>
        <span class="projname">Name project</span>
      <p class="projdescr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud
        amet.</p>
      </p>
    </div>
  </div>

  <div class="project" id="secondproject">
    <div class="projectpics">
      <div class="projpic" id="firstpic"></div>
      <div class="projpic" id="secondpic"></div>
      <div class="projpic" id="thirdpic"></div>
    </div>

    <div class="projdescript">
      <p>
        <span class="projname">Name project</span>
      <p class="projdescr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud
        amet.</p>
      </p>
    </div>
  </div>

  <div class="project" id="thirdproject">
    <div class="projectpics">
      <div class="projpic" id="firstpic"></div>
      <div class="projpic" id="secondpic"></div>
      <div class="projpic" id="thirdpic"></div>
    </div>

    <div class="projdescript">
      <p>
        <span class="projname">Name project</span>
      <p class="projdescr">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud
        amet.</p>
      </p>
    </div>
  </div>

  <div class="allprojs">
    <button class="buttonall" name="projects" type="button">All projects <img id="arrow" src="../pictures/arrow.svg">
    </button>
  </div>
</div>

<div class="prefooter">
  <div class="jointeam">
    <h2>Become part of our team</h2>
    <p>We need you!</p>
    <button class="joinbutton" name="join" type="button">Join</button>
  </div>
  <div class="prewhite"></div>
  <div class="preblack"></div>
</div>
-->

<%= _.template(require('./../includes/footer.html').default)(data) %>
