.footer {
  /*MAP*/
  .map {
    position: relative;
    width: 100%;
    height: 351px;
    background-color: #222222;
  }

  .rb {
    position: absolute;
    top: 10px;
    left: 62%;
  }

  .town {
    position: absolute;
    top: 49px;
    left: 352px;
  }

  .town > span {
    position: relative;
    top: 18px;
    right: 45px;
    font-family: Montserrat;
    color: #ffffff;
  }

  /*INFO*/
  .privacy {
    width: 100%;
    height: 80px;
    background-color: #2a2a2a;
    color: #c4c4c4;
  }
}
