.header {
  background-color: $color-black;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 5;

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    padding-top: pxToRem(16);
    padding-bottom: pxToRem(16);

    img {
      width: auto;
      max-height: pxToRem(36);
    }
  }
}
