.header {
  background-color: $color-black;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: block;
    padding-top: pxToRem(16);
    padding-bottom: pxToRem(16);

    img {
      width: auto;
      max-height: pxToRem(36);
    }
  }
}
